<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">FilterBy:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterProduct"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By:{{filterProduct}}</h3>
            </div>
        </div>                                  
        <div class="table-responsive" *ngIf="products && products.length">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success" (click)="toggleImage()">
                                {{showImage?"Hide Image":"Show Image"}}
                            </button>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{showImage}}
                    MEAN
                    <tr *ngFor="let product of products | ProductFilter:filterProduct">
                        <td>
                            <img [style.width.px]="imageWidth" [src]="product.imageUrl" *ngIf="showImage"/>
                        </td>
                        <td>
                            <a [routerLink]="['/products',product.productId]"
                            [queryParams]="{name:product.productName,desc:product.description,image:product.imageUrl}">{{product.productName | EduUpper:uppercase}}</a>
                        </td>
                        <td >{{product.productCode | lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td [ngStyle]="{'background-color':product.price>30?'green':'red'}">
                            {{product.price|checkValue|currency:"GBP"}}
                        </td>
                        <td>
                            <star-comp [rating]="product.starRating"
                                (ratingClicked)="onDataRecive($event)"   
                            ></star-comp>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>